@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%; 
    background-size: cover;
    background-position: center;
    background-color: white;
}


/* NEWS */

.newsContainer{
    width: 95%;
    margin: auto;
    margin-top: 3vh;
    border: .5vh solid red;
    border-radius: 3vh;
    background-color: rgb(255, 164, 164);
    color: black;
    transition: 500ms;
}

.newsItem{
    padding: 1vh 5vh 1vh 5vh;
    margin: auto;
    margin-top: 0;
    font-weight: bold;
    transition: 500ms;
}

.newsContainer h1{
    padding: 0vh 5vh 0vh 5vh;
    transition: 500ms;
}

.newsItem h2{
    font-size: 4vh;
    margin: 0;
    transition: 500ms;
}

.newsdescription{
    margin-bottom: 0;
    font-size: 3vh;
    transition: 500ms;
}

/* LOGO */
.logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    margin: auto;
    margin-top: 3vh;
    transition: 500ms;
  }
  
  .logo .blurred {
    position: absolute;
    height: 20vh;
    filter: blur(2vh);
    z-index: 0;
    transition: 500ms;
  }
  
  .logo .original {
    position: relative;
    height: 20vh;
    z-index: 1;
    filter: invert();
    transition: 500ms;
  }


/* Main */
.main {
    margin: auto;
    margin-top: 6vh;
    width: 90%;
    height: auto; /* Cambiado a auto para permitir la expansión dinámica */
    border: 1px solid black;
    display: flex;
    background-color: rgba(0, 0, 0, 0.193);
    backdrop-filter: blur(2vh);
    border-radius: 3vh;
    box-shadow: 0 0 6vh black;
    margin-bottom: 5vh;
    transition: 500ms;
}


/* RIGHT SIDE */

.rightside {
    width: 50%;
    height: auto; /* Cambiado a auto para permitir la expansión dinámica */
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    background-image: url("/bgclient.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 4vh 0vh 4vh -1vh rgba(0, 0, 0, 0.318);
    /*           x    y  blr   t  */
    transition: 500ms;
}

/* Name */
.barbername{
    position: absolute;
    display: flex;
    width: 49%;
    margin: auto;
    transition: 500ms;
}

.barbername h1{
    margin-top: 25vh;
    padding: 0 4%;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 10vh;
    text-shadow: 0 0 3vh rgb(44, 202, 255);
    font-weight: bold;
    transition: 500ms;
}

/* FORM */
.client-view {
    width: 40%;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 0 2vh;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 2vh;
    transition: 500ms;
}



.client-view h1{
    color: rgb(0, 110, 255);
    text-shadow: 0 0 2px black;
    transition: 500ms;
}

.name{
    color: black;
    transition: 500ms;
}

p{
    margin: 1vh;
    margin-left: 0;
    transition: 500ms;
}

.fecha{
    margin-top: 3vh;
    transition: 500ms;
}

.selectores{
    text-align: left;
    margin-top: 3vh;
    transition: 500ms;
}

.specific-service{
    text-align: left;
    margin-top: 3vh;
    transition: 500ms;
}
.hora{
    margin-top: 3vh;
    transition: 500ms;
}

.mensaje{
    margin-top: 3vh;
    transition: 500ms;
}

select, textarea, input{
    font-size: 2vh;
    background-color: rgba(0, 0, 0, 0.092);
    padding: 1vh;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2vh;
    transition: 500ms;
}

button{
    display: flex;
    margin: auto;
    margin-top: 2vh;
    width: 20vh;
    padding: 2vh;
    background-color: rgba(0, 157, 255, 0.445);
    font-size: 2vh;
    color: black;
    border-radius: 2vh;
    border: .3vh solid rgba(0, 0, 0, 0.322);
    justify-content: center;
    font-weight: bold;
    transition: 300ms;
}

button:hover{
    cursor: pointer;
    background-color: rgb(255, 112, 112);
    color: white;
    border: .3vh solid white;
    transition: 300ms;
    box-shadow: 0 0 2vh rgb(0, 140, 255);
    transition: 500ms;
}


.selectores{
    background-color: rgba(0, 0, 0, 0.262);
    color: white;
    border-radius: 3vh;
    padding: 2vh;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.541);
    transition: 500ms;
}

.specific-service{
    background-color: rgba(0, 0, 0, 0.262);
    color: white;
    border-radius: 3vh;
    padding: 2vh;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.541);
    transition: 500ms;
}