@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%; 
    background-size: cover;
    background-position: center;
    background-color: white;
}


/* HEADER */
.header{
    display: flex;
    top: 0;
    left: 0;
    height: 10vh;
    position: relative;
    background-color: rgba(6, 6, 6, 0.122);
    padding: 2.5vh;
    backdrop-filter: blur(1vh);
}

.logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    margin: auto;
    margin-top: 3vh;
  }
  
  .logo .blurred {
    position: absolute;
    height: 20vh;
    filter: blur(2vh);
    z-index: 0;
  }
  
  .logo .original {
    position: relative;
    height: 20vh;
    z-index: 1;
    filter: invert();
  }

.barbername{
    position: absolute;
    display: flex;
    width: 49%;
    margin: auto;
}

.barbername h1{
    margin-top: 25vh;
    padding: 0 4%;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 10vh;
    text-shadow: 0 0 3vh rgb(44, 202, 255);
    font-weight: bold;
}

/* Main */
.main {
    margin: auto;
    margin-top: 6vh;
    width: 90%;
    height: auto; /* Cambiado a auto para permitir la expansión dinámica */
    border: 1px solid black;
    display: flex;
    background-color: rgba(0, 0, 0, 0.193);
    backdrop-filter: blur(2vh);
    border-radius: 3vh;
    box-shadow: 0 0 6vh black;
    margin-bottom: 5vh;
}

/* NOTICIAS */
.news {
    width: 50%;
    height: auto; /* Cambiado a auto para permitir la expansión dinámica */
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    background-image: url(https://scontent.fgdl5-1.fna.fbcdn.net/v/t39.30808-6/239543103_1846704818846855_5260529420270521181_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeG260gux0xsUQQMgkb6xlWu2fhLrAd0iYPZ-EusB3SJg1tTF1zcyAn_DyLVddbNP-A8JasRO-uLqhoiFiQyE6vR&_nc_ohc=rwYiy191CIgQ7kNvgEiCBQS&_nc_ht=scontent.fgdl5-1.fna&gid=AJnttfrO-9-GCvgMlFqLyc3&oh=00_AYB1XLkToSGrCNLOCjNKLGdIpKGxW-IWAFxoQIVXtoMgDQ&oe=668BAC79);
    background-size: cover;
    background-position: center;
    box-shadow: 4vh 0vh 4vh -1vh rgba(0, 0, 0, 0.318);
    /*           x    y  blr   t  */
}

.newscont {
    margin-top: 74.5vh;
    backdrop-filter: blur(2vh);
    background-color: rgba(255, 0, 0, 0.149);
    position: absolute;
    display: flex;
    width: 48.5%;
    height: 29.5%;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    border-bottom-left-radius: 3vh;
    border: .4vh solid rgba(255, 255, 255, 0.232);
}

.newscont h1 {
    font-size: 4vh;
    margin: 0; 
}

/* FORM */
.client-view {
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 0 2vh;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 2vh;
}



.client-view h1{
    color: rgb(0, 110, 255);
    text-shadow: 0 0 2px black;
}

.name{
    color: black;
}

p{
    margin: 1vh;
}

.fecha{
    margin-top: 3vh;
}

.selectores{
    text-align: left;
    margin-top: 3vh;
}

.specific-service{
    text-align: left;
    margin-top: 3vh;
}
.hora{
    margin-top: 3vh;
}

.mensaje{
    margin-top: 3vh;
}

select, textarea, input{
    font-size: 2vh;
    background-color: rgba(0, 0, 0, 0.092);
    padding: 1vh;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2vh;
}

button{
    display: flex;
    width: 20vh;
    padding: 2vh;
    background-color: rgba(0, 157, 255, 0.445);
    font-size: 2vh;
    color: black;
    border-radius: 2vh;
    border: .3vh solid rgba(0, 0, 0, 0.322);
}

.selectores{
    background-color: rgba(0, 0, 0, 0.262);
    color: white;
    border-radius: 3vh;
    padding: 2vh;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.541);
}

.specific-service{
    background-color: rgba(0, 0, 0, 0.262);
    color: white;
    border-radius: 3vh;
    padding: 2vh;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.541);
}