@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

/* Main */
.main {
    margin: auto;
    margin-top: 6vh;
    width: 90%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    background-color: rgba(0, 0, 0, 0.193);
    backdrop-filter: blur(2vh);
    border-radius: 3vh;
    box-shadow: 0 0 6vh black;
    margin-bottom: 10vh;
}

/* IZQUIERDA */
.Left {
  width: 30%;
  height: auto; /* Cambiado a auto para permitir la expansión dinámica */
  border-top-left-radius: 3vh;
  border-bottom-left-radius: 3vh;
  background-size: cover;
  background-position: center;
  box-shadow: 4vh 0vh 4vh -1vh rgba(0, 0, 0, 0.318);
  /*           x    y  blr   t  */
}

.Left h1{
  font-size: 4vh;
}


/* FILTROS */

.Filtros {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.Filtros h1 {
  text-align: center;
  margin-bottom: 1vh; 
}

.filtro {
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 2vh;
}

.filtro label {
  display: block;
  margin-bottom: 5px;
}

.filtro input,
.filtro select {
  width: 100%;
  padding: .5vh;
  box-sizing: border-box;
  border-radius: 1vh;
  border: 1px solid rgba(0, 0, 0, 0.49);
  font-size: 1.8vh;
}

/* NOTICIAS */
.NewsCreat {
  width: 90%;
  margin: auto;
  padding: 10px; /* Añadido padding para espacio alrededor del contenido */
}

.NewsCreat h1 {
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 3vh;
  text-align: center;
}

.NewsCreat textarea {
  display: block;
  width: 100%;
  height: 100px; /* Ajustar según sea necesario */
  margin-top: 1vh;
  padding: 10px; /* Añadido padding para espacio interno */
  box-sizing: border-box;
  border-radius: 2vh;
  font-size: 2vh;
}

/* DERECHA */
.Right {
    width: 65%;
    height: auto;
    margin: auto;
    margin-top: 0;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 2vh;
    color: rgb(0, 110, 255);
}

.citaslist {
  text-align: left;
  background-color: wheat;
  width: 100%;
  border: 1vh solid black;
  font-size: 3vh;
  padding: 1vh;
  border-radius: 2vh;
}

.citasTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2vh;
    color: black;
    border-spacing: .3vh;
}
  
.citasTable th, .citasTable td {
    text-align: left;
    border: .2vh solid #ddd;
    padding: .8vh;
}
  
.citasTable th {
    color: white;
    background-color: #ff6c6c;
    text-align: center;
    font-size: 3vh;
}
  
.citasTable tr:nth-child(even) {
    background-color: #f9f9f9;
}
  
.citasTable tr:hover {
    background-color: #ddd;
}

.btndeletecita{
  display: flex;
  margin: auto;
  padding: 1vh;
  background-color: #ff6c6c;
  border-radius: 2vh;
  font-size: 2vh;
  border: .5vh dotted black;
}

.btndeletecita:hover{
  border: .5vh dotted black;
  background-color: black;
  color: white;
  transition: 500ms;
}